{% extends "base.html" %}

{% block titulo %}Sistema CRUD en Django{% endblock titulo %}

{% block contenido %}
        <table class = "table" cellspacing="0">
            <thead>
                <th>Nombre</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.cantidad}}</td>
                    <td>{{producto.precio}}</td>
                    <td> 
                        <a href="{% url 'crud.views.editar' producto.id %}">
                            <button type="button" class="btn
                                btn-primary"><span class="glyphicon
                                    glyphicon-text-height"></span> Editar</button></a>
                    </td>
                    <td> 
                        <a href="{% url 'crud.views.borrar' producto.id %}">
                            <button type="button" class="btn
                                btn-danger"><span class="glyphicon
                                    glyphicon-trash"></span> Borrar</button></a>
                    </td>
                    
                </tr>
                {% empty %}
                <tr>
                    <td>No hay Pruductos</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'crud.views.agregar' %}"> <button type="button"
                class="btn btn-warning"><span class="glyphicon
                    glyphicon-share-alt"></span> Agregar Producto</button></a>
{% endblock %}
